<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to PLME mock exam</title>
  </head>
  <body>
    <h1></h1>
    <p>lets start, professional machine learning engineer mock exam</p>
    <div>
      <p>Exam time : {{ timing }} hours</p>
      <p> number of question will be {{ number_of_questions }} </p>
    </div>

    <form action="/question/0" method="get">
    <div class="container">
      <div class="center">
        <button type="submit">Start Exam!</button>
      </div>
    </div>
    </form>

  </body>
</html>